<!doctype html>
<head>
  <title>Found your info</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/bootstrap.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/beacon.css') }}" />
  <!--<link rel="stylesheet" type="text/css" href="https://static.adp.com/static/redbox/2.0.0.53/app/framework/css/redbox.min.css?2.0.0.53&1490905308147" />-->
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <table class='table table-condensed table-striped table-beacon'>
      <tbody>
        <tr><th colspan="2" style="text-align: center">Lookup: {{ lookup_ip }}</th></tr>
        {% for entry in data %}
        {% for key,value in entry.items() %}
          <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
        {% endfor %}
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
